teligram.json
{
  "name": "teligram",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -368,
        0
      ],
      "id": "04c0954a-432a-40ab-bd73-49d417e4cc27",
      "name": "Telegram Trigger",
      "webhookId": "5b3e8425-e03d-4a37-a359-fca060e11bcd",
      "credentials": {
        "telegramApi": {
          "id": "qndc5Ub7YFmU1pAK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.message.text }}",
        "options": {
          "systemMessage": "=You are a personal useful assistant whic will fulfil my request. When you are asked to perfome a task in the current date please use the current time and date. {{ $now }}\n##output\nyou should output the result and dont include any this unnecessary. just make sure that you politely answer user question and ask if any other information is required.\n\nif there is something related to calendear or schedule or events, you have to use tool \"teligram2ndconnect\" to call the seperate workflow with detailed \"text \"(time is {{ $now }}) so that it can work on the queri\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        816,
        0
      ],
      "id": "4c2bd57a-63be-4547-b394-253f6a7f5d18",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        752,
        224
      ],
      "id": "37860f28-13ee-4dd1-9c25-2354bda4da64",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "OwkEtSAX7xI5ujB4",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d6888f60-8c44-4fb8-bc9e-a15c8b7cbee1",
              "name": "message.text",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "43961ca8-b5ac-43d2-9183-be9aa4726f5f",
              "name": "sessionid",
              "value": "={{ $json.message.chat.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        -96
      ],
      "id": "205bd456-18c4-4e02-8d4c-5846f3937c3a",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1216,
        0
      ],
      "id": "a8a02172-98c2-421f-97b9-8f225fc659f7",
      "name": "Send a text message",
      "webhookId": "644764b1-c293-494d-8909-d0567314373c",
      "credentials": {
        "telegramApi": {
          "id": "qndc5Ub7YFmU1pAK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionid }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        880,
        224
      ],
      "id": "3c184575-33b9-4784-8fc0-eba9f2045fee",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "exists",
                      "singleValue": true
                    },
                    "id": "6a1344cb-7e05-426a-8274-562ba3365494"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "text"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "b5859f7c-0ed1-4061-8976-d0c7bb178b46",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "boolean",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -144,
        0
      ],
      "id": "e4c50887-343b-4329-bc05-96924dff2dab",
      "name": "Switch"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        80,
        96
      ],
      "id": "0122b437-2e71-49a6-8394-2eed4bbe67fa",
      "name": "Get a file",
      "webhookId": "d7ad1cc6-dedf-4961-b926-29fd564ab77e",
      "credentials": {
        "telegramApi": {
          "id": "qndc5Ub7YFmU1pAK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "text": "",
        "inputType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        304,
        96
      ],
      "id": "363d2070-a4fe-4abe-93ad-a0fb595f9a01",
      "name": "Analyze audio",
      "credentials": {
        "googlePalmApi": {
          "id": "0ZdwNcK9GuJ4OjBk",
          "name": "Google Gemini(PaLM) Api account 6"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d2ea40de-ae50-4b18-bd04-7b041bb4b3fb",
              "name": "message.text",
              "value": "={{ $json.content.parts[0].text }}",
              "type": "string"
            },
            {
              "id": "bed7f061-3593-475a-bf37-4b8ac9a4bbc0",
              "name": "sessionid",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        96
      ],
      "id": "77015846-5c58-4201-acaa-da77656dbb8f",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "description": "this workflow helps to creat events in google calender or get envents from the calender",
        "workflowId": {
          "__rl": true,
          "value": "z9iJvg3NmMqHKeBb",
          "mode": "list",
          "cachedResultUrl": "/workflow/z9iJvg3NmMqHKeBb",
          "cachedResultName": "teligram2ndconect"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "text": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('text', ``, 'string') }}",
            "sessionid": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
          },
          "matchingColumns": [
            "text"
          ],
          "schema": [
            {
              "id": "text",
              "displayName": "text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "sessionid",
              "displayName": "sessionid",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1008,
        224
      ],
      "id": "f4bf54d0-ea74-42ab-80a4-5f85e7c4d573",
      "name": "Call 'teligram2ndconect'"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get a file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a file": {
      "main": [
        [
          {
            "node": "Analyze audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze audio": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'teligram2ndconect'": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "72895eee-45ea-4dd7-9c1a-5b8e69399a4e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4a732f0fc5715d94d4d1f389dd219c6f610ccb72212844c6583343dd2a83cb63"
  },
  "id": "RaAAsBlB9hp3NmH1",
  "tags": []
}